*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/aFileChooser/build/intermediates/
/aFileChooser/build/outputs/logs/
/aFileChooser/build/outputs/aar/
/app/.cxx/
/app/src/main/cppLibs/dlib/include/dlib/build/
